@charset "UTF-8";


.food_loc {
	display: inline-block;
	width: 25%;
	padding: 0.875rem 1.125rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1;
	color: #69707a;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #c5ccd6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.35rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-qt-8 {
	flex: 0 0 auto;
	width: 95.66666667%;
}

.badge-blue {
	display: inline-block;
	padding: 0.35em 0.65em;
	/*font-size: 0.75em;*/
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.35rem;
	background-color: #003a91;
}

.badge-green {
	display: inline-block;
	padding: 0.35em 0.65em;
	/*font-size: 0.75em;*/
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.35rem;
	background-color: #00673f;
}

.badge-red {
	display: inline-block;
	padding: 0.35em 0.65em;
	/*font-size: 0.75em;*/
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.35rem;
	background-color: #8b0d00;
}

#fes_list_t {
	text-align: center;
}

.px-16 {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.container-xl1 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.basketbtn {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	font-size: 15px;
	font-weight: bolder;
}

.qtlayer-up {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	z-index: 9999;
	color: black;
	background-color: #fff;
	border-color: #fff;

}


.separator {
	display: inline-block;
	margin: 0 10px;
	/* 세로줄 양 옆의 여백 조정 */
	border-left: 1px solid black;
	/* 세로줄 스타일 설정 */
	height: 20px;
	/* 세로줄의 높이 조정 */
	vertical-align: middle;
	/* 세로 정렬 */
}

.btn-qtbtn-reverse {
	color: #FA823C;
	background-color: #fff;
	border-color: #fff;
}

.btn-qtbtn-reverse:hover {
	color: #fff;
	background-color: #FA823C;
	border-color: #FA823C;
}

.hiddenbtn {
	display: none;
}

#empty {
	width: 100%;
	height: 7%;
}

#map {

	width: 100%;
	height: 60%;
}

#waypoint_list {
	background-color: white;
	width: 100%;
	height: 35%;
	max-height: 35%;
	overflow-y: auto;
}

.way_loc {
	display: none;
}

.waydiv {
	display: inline-block;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.dotOverlay {
	position: relative;
	bottom: 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	float: left;
	font-size: 12px;
	padding: 5px;
	background: #fff;
}

.dotOverlay:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.number {
	font-weight: bold;
	color: #ee6152;
}

.dotOverlay:after {
	content: '';
	position: absolute;
	margin-left: -6px;
	left: 50%;
	bottom: -8px;
	width: 11px;
	height: 8px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')
}

.toast {
	visibility: hidden;
	min-width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
	animation: fadein 0.5s, fadeout 0.5s 5s;
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.bg-color {
	background-color: #FA823C;
	border-color: #FA823C;
}

.text-col {
	color: black !important;
}

.main-bg-color {
	background-color: #FA823C;
}

.card-body {
	flex: 1 1 auto;
	padding: 1.0rem !important;
}

.card-body2 {
	flex: 1 1 auto;
	padding: 1.0rem !important;
	border-color: #FA823C;
	background-color: rgba(255, 223, 164, 0.5);
	border-radius: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.group-body {
	flex: 1 1 auto;
	padding-top: 1.0rem !important;
	padding-left: 1.0rem !important;
}

a {
	color: inherit;
	/* 링크 색상을 부모 요소의 색상으로 상속 */
	text-decoration: none;
	/* 밑줄 제거 */
}

a:visited,
a:focus,
a:hover,
a:active {
	color: inherit;
	outline: none;
	/* 클릭 또는 포커스 시 외곽선 제거 */
	text-decoration: none;
	/* 밑줄 제거 */
}

.name-set {
	color: black;
	font-size: 15px;
	font-weight: 500;
}

.price-set {
	color: black;
	font-size: 15px;
	font-weight: 500;
}

.info-set {
	color: black !important;
	font-weight: bold;
}

.info-set2 {
	color: black !important;
}

.flex-container {
	display: flex;
	/* Flexbox 레이아웃 사용 */
	justify-content: space-between;
	/* 요소 사이의 공간을 균등하게 배분하여 좌우 정렬 */
	align-items: center;
	/* 수직 정렬을 가운데로 설정 */
}

.flex-item {
	flex: 1;
	/* Flex item을 동일한 크기로 설정 */
}

.mb-3 img {
	width: 100%;
	/* 부모 요소에 맞게 이미지 너비를 100%로 설정 */
	height: auto;
	/* 이미지 높이 자동 조절 */
}
@font-face {
    font-family: 'WAGURITTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('../assets/fonts/KCC-Hanbit.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('../assets/fonts/BMJUA_ttf.ttf');
    font-weight: normal;
    font-style: normal;
}
div{
	font-family: "BMJUA";
	font-size: 20px !important;
}